{% load widget_tweaks %}

<div id="step2" class="space-y-4 hidden">
    <!-- Company Name -->
    <div>
        <label for="{{ form.company_name.id_for_label }}" class="block text-sm font-medium text-gray-700">
            Company Name <span class="text-red-500">*</span>
        </label>
        {{ form.company_name|add_class:"mt-1 block w-full border border-gray-300 rounded-md p-2 focus:ring-blue-500 focus:border-blue-500" }}
        <span id="companyNameError" class="text-red-500 text-xs"></span>
    </div>

    <!-- Company Address -->
    <div>
        <label for="{{ form.company_address.id_for_label }}" class="block text-sm font-medium text-gray-700">
            Company Address <span class="text-red-500">*</span>
        </label>
        {{ form.company_address|add_class:"mt-1 block w-full border border-gray-300 rounded-md p-2 focus:ring-blue-500 focus:border-blue-500" }}
        <span id="companyAddressError" class="text-red-500 text-xs"></span>
    </div>

    <!-- Company Email -->
    <div>
        <label for="{{ form.company_email.id_for_label }}" class="block text-sm font-medium text-gray-700">Company Email (if available)</label>
        {{ form.company_email|add_class:"mt-1 block w-full border border-gray-300 rounded-md p-2 focus:ring-blue-500 focus:border-blue-500" }}
        <span id="companyEmailError" class="text-red-500 text-xs"></span>
    </div>

    <!-- Company Landline -->
    <div>
        <label for="{{ form.company_landline.id_for_label }}" class="block text-sm font-medium text-gray-700">Company landline number (if available)</label>
        {{ form.company_landline|add_class:"mt-1 block w-full border border-gray-300 rounded-md p-2 focus:ring-blue-500 focus:border-blue-500" }}
        <span id="companyLandlineError" class="text-red-500 text-xs"></span>
    </div>

    <!-- Agency ID -->
    <div class="mb-4">
        <label for="{{ form.agency_id.id_for_label }}" class="block text-sm font-medium text-gray-700">
            Agency ID <span class="text-red-500">*</span>
        </label>
        {{ form.agency_id | add_class:"w-full border border-gray-300 rounded-md p-2" }}
        <span id="agentIDError" class="text-red-500 text-xs"></span>
    </div>

    <!-- Website -->
    <div class="mb-4">
        <label for="{{ form.website.id_for_label }}" class="block text-sm font-medium text-gray-700">
            Website <span class="text-red-500">*</span>
        </label>
        {{ form.website | add_class:"w-full border border-gray-300 rounded-md p-2" }}
        <span id="websiteError" class="text-red-500 text-xs"></span>
    </div>

    <!-- License Number -->
    <div>
        <label for="{{ form.contractor_license.id_for_label }}" class="block text-sm font-medium text-gray-700">
            License number <span class="text-red-500">*</span>
        </label>
        {{ form.contractor_license|add_class:"mt-1 block w-full border border-gray-300 rounded-md p-2 focus:ring-blue-500 focus:border-blue-500" }}
        <span id="contractorLicenseError" class="text-red-500 text-xs"></span>
    </div>

    <!-- Service -->
    <div>
        <label for="{{ form.industry.id_for_label }}" class="block text-sm font-medium text-gray-700">
            Service <span class="text-red-500">*</span>
        </label>
        {{ form.service|add_class:"mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-blue-500 focus:border-blue-500" }}
        <span id="serviceError" class="text-red-500 text-xs"></span>
    </div>
</div>