<div id="step2" class="space-y-4 hidden">
  <div class="mb-4">
    <label for="company" class="block text-gray-700 font-medium mb-2">My Agent Company Name*</label>
    <input
      type="text"
      name="company"
      id="company"
      placeholder="Agent Company Name"
      class="w-full border border-gray-300 rounded-md p-2"
      oninput="validateFields()"
    />
    <p id="companyError" class="text-red-500 text-sm hidden">Company Name is required.</p>
  </div>

  <div class="mb-4">
    <label for="contactPerson" class="block text-gray-700 font-medium mb-2">Contact Person*</label>
    <input
      type="text"
      name="contactPerson"
      id="contactPerson"
      placeholder="Contact Person"
      class="w-full border border-gray-300 rounded-md p-2"
      oninput="validateFields()"
    />
    <p id="contactPersonError" class="text-red-500 text-sm hidden">Contact Person is required.</p>
  </div>

  <div class="mb-4">
    <label for="contactPersonEmail" class="block text-gray-700 font-medium mb-2">Contact Email Address*</label>
    <input
      type="email"
      name="contactPersonEmail"
      id="contactPersonEmail"
      placeholder="Contact Person Email Address"
      class="w-full border border-gray-300 rounded-md p-2"
      oninput="validateFields()"
    />
    <p id="contactPersonEmailError" class="text-red-500 text-sm hidden">Contact Person Email is required.</p>
  </div>

  <div class="mb-4">
    <label for="contactPhone" class="block text-gray-700 font-medium mb-2">Contact Phone Number*</label>
    <input
      type="tel"
      name="contactPhone"
      id="contactPhone"
      placeholder="Contact Phone Number"
      class="w-full border border-gray-300 rounded-md p-2"
      oninput="validateFields()"
    />
    <p id="contactPhoneError" class="text-red-500 text-sm hidden">Contact Person Phone Number is required.</p>
  </div>

  <div class="mb-4">
    <label for="state" class="block text-gray-700 font-medium mb-2">State*</label>
    <input
      type="text"
      name="state"
      id="state"
      placeholder="State"
      class="w-full border border-gray-300 rounded-md p-2"
      oninput="validateFields()"
    />
    <p id="stateError" class="text-red-500 text-sm hidden">State is required.</p>
  </div>

  <div class="mb-4">
    <label for="city" class="block text-gray-700 font-medium mb-2">City*</label>
    <input
      type="text"
      name="city"
      id="city"
      placeholder="City"
      class="w-full border border-gray-300 rounded-md p-2"
      oninput="validateFields()"
    />
    <p id="cityError" class="text-red-500 text-sm hidden">City is required.</p>
  </div>

  <div class="mb-4">
    <label for="companyAddressLine1" class="block text-gray-700 font-medium mb-2">Address Line 1*</label>
    <input
      type="text"
      name="companyAddressLine1"
      id="companyAddressLine1"
      placeholder="Address Line 1"
      class="w-full border border-gray-300 rounded-md p-2"
      oninput="validateFields()"
    />
    <p id="companyAddressLine1Error" class="text-red-500 text-sm hidden">Company Address Line is required </p>
  </div>

  <div class="mb-4">
    <label for="companyAddressLine2" class="block text-gray-700 font-medium mb-2">Address Line 2 (optional)</label>
    <input
      type="text"
      name="companyAddressLine2"
      id="companyAddressLine2"
      placeholder="Address Line 2"
      class="w-full border border-gray-300 rounded-md p-2"
    />
  </div>

  <div class="mb-4">
    <label for="companyPostalCode" class="block text-gray-700 font-medium mb-2">Postal Code</label>
    <input
      type="text"
      name="companyPostalCode"
      id="companyPostalCode"
      placeholder="Company Postal Code"
      class="w-full border border-gray-300 rounded-md p-2"
    />
    <p id="zipError" class="text-red-500 text-sm hidden">Zip Code is required.</p>
  </div>
</div>