<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trader Chat - FixMyHome</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<!-- Top Navigation -->
{% include 'components/home/navigatorBase.html' %}

{% load static %}
<body class="bg-gray-50">
  <div class="container mt-5">
     <!-- Iframe pointing to the general chat room -->
    <iframe
        src="{{ chat_url }}"
        style="width: 100%; height: 80vh; border: none;"
        title="General Chat">
    </iframe>
</div>

{% include 'components/footerTrader.html' %}

{% block scripts %}
  <!-- Alpine.js CDN -->
  <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
  <!-- FullCalendar CSS & JS -->
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    function getToolbar() {
      if (window.innerWidth < 640) {  // sm breakpoint
        return {
          left: 'prev,next today',
          center: 'title',
          right: ''   // hide extra buttons on mobile
        }
      } else {
        return {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
        }
      }
    }

    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      headerToolbar: getToolbar(),
      windowResize: function(view) {
        calendar.setOption('headerToolbar', getToolbar());
      },
      events: 'calendar/events/',
    });

    calendar.render();
  });
  </script>

  {% endblock %}